.sign-in{
    width: 400px;
    display: flex;
    flex-direction: column;
    .title{
        margin: 15px 0;
    }
    .sub-head{
        color: gray;
        font-weight: 300;
    }
    .buttons{
        display: flex;
        justify-content: space-between;
        button:first-child{
            margin-right: 10px;
        }
    }
}